################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodingTest/.vs
/CodingTest/bin/Debug/net6.0
/CodingTest/obj
/TempratureWidget/bin/Debug/net6.0
/TempratureWidget/obj
